@import "global.scss";

.container {
  display: flex;
  height: 476px;
  justify-content: center;
  align-items: center;
}

.container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.headline {
  text-align: center;
  width: 90%;
  margin-bottom: 50px;
}

.headline h1 {
  color: white;
  -webkit-text-stroke: 0.4rem white;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.button {
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 2rem;
  color: white;
  border: 1px solid #66cde4;
  cursor: pointer;
  background: #00c6ff;
  background-image: linear-gradient(to right, #00c6ff 0%, #0084ff 140%);
  box-shadow: 0px 0px 5px #0000002c;
  border-radius: 3px;
  word-spacing: 3px;

  &:hover {
    background-position: right;
    border: 1px solid #9cebfd;
    box-shadow: 0px 0px 10px #ffffff48;
  }
}

@media screen and (max-width: 768px) {
  .button {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headline {
    padding: 0 1rem;
    text-align: center;
    p {
      font-size: 1.6rem;
    }
  }

  .headline h1 {
    -webkit-text-stroke: 0.3rem white;
    font-size: 3.7rem;
    letter-spacing: 0.4rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 4px;
  }
}
