.header {
  text-align: center;
  h1 {
    color: rgb(48, 48, 48);
    font-size: 4rem;
  }
}

.container {
  // height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // border: 1px solid red;
}

.container > div {
  border-radius: 1px;
  min-height: 380px;
  border: 1px solid rgb(206, 206, 206);
  flex: 1;
  display: flex;
  flex-direction: column;
  // background: #00d2ff;
  margin: 20px;
  // padding: 20px;
  p {
    color: white;
    min-height: 125px;
    line-height: 2rem;
    font-size: 1.6rem;
    align-self: flex-end;
    background: rgb(48, 48, 48);
    padding: 20px 20px;
    font-weight: 300;
  }

  h1 {
    // background-color: #00d2ff;
    color: rgb(48, 48, 48);
    text-align: center;
    font-size: 2.4rem;
    padding: 1rem 0;
  }

  div {
    flex: 1;
    // max-height: 250px;
    // align-self: flex-end;
  }

  a {
    text-decoration: none;
    color: #05a3c7d7;
  }
}
